@use '../../../styles/global' as *;

.navbar{
  display: flex;
  align-items:center;
  .nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .nav-link > a{
      line-height: 3rem;
      color: $primaryText;
      padding: 1.5rem 2rem;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: .5s;
      text-transform: capitalize;
      .icon{
        margin-left: 1rem;
      }
    }
    .nav-link{
      position: relative;
      &:hover > a{
        transform: scale(1.1);
      }
      
    }
  }
}







.dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.dropdown ul{
  position: relative;
}

.dropdown-link > a{
  display: flex;
  background-color: $backgroundColor;
  color: $primaryText;
  padding: .5rem 1rem;
  font-size: 2rem;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
  text-transform: capitalize;
}

.dropdown-link:hover > a{
  background-color: $accentColor;
  color: #fff;
}

.dropdown-link:not(:nth-last-child(2)){
  border-bottom: 1px solid #efefef;
}

.dropdown-link .icon{
  transform: rotate(90deg);
}

.arrow{
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: $darkPrimaryColor;
  transform: rotate(45deg);
  cursor: pointer;
  transition: .3s;
  z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow{
  background-color: $accentColor;
}

.dropdown-link{
  position: relative;
}

.dropdown.second{
  top: 0;
  left: 100%;
  padding-left: .8rem;
  cursor: pointer;
  transform: translateX(10px);
}

.dropdown.second .arrow{
  top: 10px;
  left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}


@keyframes animation{
  from{
      opacity: 0;
      transform: translateY(15px);
  }
  to{
      opacity: 1;
      transform: translateY(0px);
  }
}

@include desktop{
  .navbar{
  display: none;
}
}